<p>Me la {{full_name()}}</p>
<h1>{{title}}</h1>
<input type="text" placeholder={{abe}}>
<button> Search</button>
<img [src]="img_name" width="500" height="100">
<h1>A shortcut applying (or not) class name based on the value of isSpecial</h1>
<div [class.special]="isSpecial">
  Wow, I'm special!
</div>
<h1>Here we bind value of the input to the name property</h1>
<input [value]="name" />

<h1>Shortcut for binding styles</h1>
<button [style.color]="isSpecial ? 'green' : 'gray'">
  special button
</button>
 
<h2>Message: {{ message }}</h2>

<input #input />

<button (click)="message = input.value;">
  Update message
</button>
<div>
    <img src="{{avatar}}" *ngIf="onDisplay()">
</div>
<ul>
    <li *ngFor="let puppy of puppies">
      {{puppy}}
    </li>
</ul>
<abe-child [size]="5" [color]="circleColor"></abe-child>

<div >
    <div *ngIf="videos.length == 0">
        No videos!
      </div>
      
      <div *ngFor="let video of videos">
        <h2>{{video.title}}</h2>
        <img [src]="video.src">
      </div>
</div>


<a routerLink="/nata">Mi_nata</a> | <a routerLink="/emi">Mi_emi</a>
<router-outlet></router-outlet>
